@if (grupoVeiculos$ | async; as grupoVeiculos) {
  <section class="mx-auto max-w-4xl px-4 py-6">
    <div>
      <h2 class="text-2xl font-semibold">Edição de Grupo de Veículos</h2>
      <hr class="my-4 border-muted/30" />

      <mat-card class="p-4 rounded-2xl shadow-sm">
        <form [formGroup]="grupoVeiculosForm" (ngSubmit)="editar()">
          <mat-card-header>
            <mat-card-title class="text-lg font-medium">
              Preencha o formulário de cadastro
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="mt-6 space-y-4">
            <mat-form-field class="w-full">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" type="text" autocomplete="name" />

              @if (nome?.errors?.['required']) {
                <mat-error>O nome é obrigatório.</mat-error>
              }
              @if (nome?.errors?.['minlength']) {
                <mat-error>O nome deve conter no mínimo 3 caracteres.</mat-error>
              }
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions align="end" class="flex items-center justify-end gap-3 pt-4">
            <a mat-stroked-button routerLink="/grupos-veiculos" class="px-4"> Voltar </a>

            <button
              type="submit"
              [disabled]="grupoVeiculosForm.invalid"
              mat-flat-button
              class="px-6"
            >
              <mat-icon class="!text-base mr-1">check</mat-icon>
              Concluir
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </section>
}
